{% extends 'templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}

{% block head %}
    <meta name="description" content="بخش صورتحساب سفارش خود را با اطمینان ثبت کنید"/>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="canonical" content="https://hmelecteronic.ir/cart/checkout" />
    <title>صورت حساب و تسویه - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
<!-- start breadcroumb -->
    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'main:Home_page' %}" class="font-14 text-muted">خانه</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'cart:detail_page' %}" class="font-14 text-muted">سبد خرید</a></li>
                            <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">سبد خرید</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcroumb -->

    <!-- start content -->
    <div class="content">
        <div class="container-fluid">
            <p class="text-center text-danger rounded-3 border border-2 border-danger d-none" id="error-message"></p>
            <div class="check-out-form">
                <div class="row gy-3">
                    <div class="col-lg-8">
                        <div class="content-box position-sticky top-0">
                            <div class="container-fluid">
                                <div class="checkout-forms">
                                    <div class="checkout-form-title">
                                        <h5 class="mb-3">جزییات پرداخت</h5>
                                    </div>
                                    <div class="checkout-form">
                                        <form>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="first_name" class="form-label">نام <span class="text-danger ms-1">*</span></label>
                                                            {{ form.first_name|attr:"required" }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="last_name" class="form-label">نام خانوادگی <span class="text-danger ms-1">*</span></label>
                                                             {{ form.last_name|attr:"required" }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="email" class="form-label">ایمیل (اختیاری) </label>
                                                            {{ form.email }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="phone" class="form-label">شماره تلفن <span class="text-danger ms-1">*</span></label>
                                                            {{ form.phone|attr:"required" }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="state" class="form-label">استان <span class="text-danger ms-1">*</span></label>
                                                            {{ form.state|attr:"required" }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="city" class="form-label">شهر <span class="text-danger ms-1">*</span></label>
                                                            {{ form.city|attr:"required" }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="postal_code" class="form-label">کدپستی <span class="text-danger ms-1">*</span></label>
                                                            {{ form.postal_code|attr:"required" }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="national_code" class="form-label">کدملی <span class="text-danger ms-1">*</span></label>
                                                            {{ form.national_code|attr:"required" }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="descOrder" class="form-label">آدرس<span class="text-danger ms-1">*</span></label>
                                                {{ form.address|attr:"required" }}
                                            </div>
                                            <div class="form-group">
                                                <label for="note" class="form-label">یادداشت های سفارش (اختیاری)</label>
                                                {{ form.note }}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-side position-sticky top-0">
                            <div class="cart-canvases mb-4">
                                <div class="item">
                                    <div class="factor">
                                        <div class="title">
                                            <div class="d-flex align-items-end">
                                                <i class="bi bi-credit-card-2-front-fill me-2 main-color-one-color"></i>
                                                <h6 class="font-16">انتخاب شیوه پرداخت</h6>
                                            </div>
                                        </div>
                                        <div class="row gy-2">
                                            <div class="col-12">
                                                <div class="bank-item active">
                                                    <i class="bi bi-credit-card-2-back main-color-one-color"></i>
                                                    <h6 class="font-14 mx-2">انتقال مستقیم به درگاه پرداخت</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-canvases">
                                <div class="item">
                                    <div class="factor">
                                        <div class="title">
                                            <div class="d-flex align-items-center">
                                                <img src="{% static 'image/shopping-bag.png' %}" class="img-fluid" alt="shopping bag">
                                                <h6 class="font-16">سفارش شما</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex mb-3 align-items-center justify-content-between">
                                            <p class="fw-bold mb-0">محصول</p>
                                            <p class="fw-bold mb-0">قیمت کل</p>
                                        </div>
                                        {% for item in cart %}
                                        <div class="factor-item p-2 rounded-3 shadow-sm bg-light d-flex align-items-center justify-content-between">
                                            <p class="mb-0">{{ item.product.product_name }}</p>
                                            <p class="mb-0">{{ item.total|intcomma:False }} تومان</p>
                                        </div>
                                        {% endfor %}
                                        <div class="factor-item p-2 rounded-3 shadow-sm bg-light d-flex align-items-center justify-content-between">
                                            <p class="mb-0 fw-bold">هزینه ارسال:</p>
                                            <p class="mb-0">برعهده خریدار</p>
                                        </div>
                                        <div class="factor-item p-2 rounded-3 shadow-sm bg-light d-flex align-items-center justify-content-between">
                                            <p class="mb-0 fw-bold">جمع کل:</p>
                                            <p class="mb-0">{{ cart.total|intcomma:False }} تومان</p>
                                        </div>
                                        <div class="action mt-3 d-flex align-items-center justify-content-center">
                                            <button id="submit-btn" class="btn border-0 main-color-three-bg rounded-3 py-2 d-block w-100">پرداخت</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    <form method="post" id="payment-form" action="https://ikc.shaparak.ir/iuiv3/IPG/Index/" enctype="multipart/form-data" class="d-none">
        <input type="hidden" name="tokenIdentity" value="">
    </form>
    <script>
        let form = document.querySelector('.checkout-form form');
        let submitBtn = document.getElementById('submit-btn');
        let firstNameInput = form.querySelector('#first_name');
        let lastNameInput = form.querySelector('#last_name');
        let emailInput = form.querySelector('#email');
        let phoneInput = form.querySelector('#phone');
        let stateInput = form.querySelector('#state');
        let cityInput = form.querySelector('#city');
        let postalCodeInput = form.querySelector('#postal_code');
        let nationalCodeInput = form.querySelector('#national_code');
        let addressInput = form.querySelector('#address');
        let noteInput = form.querySelector('#note');

        let importantInputs = []
        importantInputs.push(firstNameInput, lastNameInput, phoneInput, stateInput, cityInput, postalCodeInput, nationalCodeInput, addressInput);

        function checkInputsValue(){
            for (let input of importantInputs) {
                if (!input.value) {
                    input.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
                    input.focus();
                    return false;
                }
            }
            return true;
        }

        submitBtn.addEventListener('click', () => {
            let inputsHasValue = checkInputsValue();
            if (inputsHasValue) {
                $.ajax({
                url: '{% url 'cart:checkOut_page' %}',
                type: 'POST',
                data: {
                    'first_name': firstNameInput.value,
                    'last_name': lastNameInput.value,
                    'email': emailInput.value,
                    'phone': phoneInput.value,
                    'state': stateInput.value,
                    'city': cityInput.value,
                    'postal_code': postalCodeInput.value,
                    'national_code': nationalCodeInput.value,
                    'address': addressInput.value,
                    'note': noteInput.value,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                success: function(response) {
                    if (response.status === 200) {
                        let paymentForm = document.getElementById('payment-form');
                        let tokenIdentityInput = paymentForm.querySelector('input');
                        tokenIdentityInput.value = response.tokenIdentity;
                        paymentForm.submit();
                    } else if (response.status === 400) {
                        let errorMessageElem = document.getElementById('error-message');
                        errorMessageElem.textContent = `${response.errorField} : ${response.errorMessage}`;
                        errorMessageElem.classList.remove('d-none');
                        errorMessageElem.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
                    }
                },
                error: function (err){
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                        confirmButtonColor: '#3085d6',
                    })
                    console.log(err)
                }
            })
            }
        })
    </script>
{% endblock %}












