{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
    <meta name="description" content="بخش ارتباط و راه هایی ارتباطی با ما در اچ ام الکترونیک"/>
    <meta name="robots" content="index, follow" />
    <meta name="canonical" content="https://hmelecteronic.ir/contact-us/" />
    <title>ارتباط با ما - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
    <!-- start breadcroumb -->
    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'main:Home_page' %}" class="font-14 text-muted">خانه</a></li>
                        <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">تماس با ما</li>
                    </ol>
                </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcroumb -->

    <!-- start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="mb-5 title-panel">
                        <h2>تماس با ما</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            {% if communication_ways.company_n.all %}
                                {% for number in communication_ways.company_n.all|slice:':1' %}
                                    <div class="mb-3">
                                        <a href="tel:{{ number.province_code }}{{ number.number }}">
                                            <img src="{% static 'image/contact-page-eleman-3.png' %}" alt="contact-1" class="img-fluid">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if communication_ways.phone_number %}
                                <div class="mb-3">
                                    <a href="https://wa.me/{{ communication_ways.phone_number }}">
                                        <img src="{% static 'image/contact-page-eleman-1.png' %}" alt="contact-2" class="img-fluid">
                                    </a>
                                </div>
                            {% endif %}
                            {% if communication_ways.telegram_id %}
                                <div class="mb-3">
                                    <a href="https://t.me/{{ communication_ways.telegram_id }}">
                                        <img src="{% static 'image/contact-page-eleman-2.png' %}" alt="contact=3" class="img-fluid">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'image/contact_us.svg' %}" alt="contact-us image" class="img-fluid">
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-lg-12">
                            <div style="height: 550px">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.782828111556!2d51.40452872709556!3d35.706961488158186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e011237847dcd%3A0xcfed7552490962f5!2sNoor-e%20Tehran%20Shopping%20Center!5e0!3m2!1sen!2sus!4v1685219035505!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- form -->
                    <div class="comment-form">
                        <div class="title-panel mb-3">
                            <h6 class="font-18">به کمک ما نیاز دارید ! یک ایمیل بفرستید .</h6>
                        </div>
                        <form id="">
                            <div class="form-group mb-2">
                                {% if request.user.is_authenticated %}
                                    <label for="commentbody" class="form-label my-3">پیام شما <span class="text-danger ms-1">*</span></label>
                                {% else %}
                                    <label for="commentbody" class="form-label text-danger my-3"> برای ارسال پیام , ابتدا باید
                                        <a href="{% url 'account:login' %}" class="main-color-one-color" style="text-decoration: underline">وارد حساب کاربری</a>
                                        خود شوید <span class="text-danger ms-1">*</span>
                                    </label>
                                {% endif %}
                                {{ form.message }}
                            </div>
                            <button type="submit" id="send-btn" class="btn main-color-three-bg px-5 rounded-3 mt-3" style="padding:10px 100px !important">ارسال</button>
                        </form>
                    </div>
                    <!-- end form -->
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    <script>
        const submitButton = document.getElementById('send-btn');
        submitButton.addEventListener('click', function (event){
            event.preventDefault();
            let textArea = document.getElementById('commentbody');
            if (textArea.value){
                $.ajax({
                    url: '{% url 'contactUs:contact_page' %}',
                    type: 'POST',
                    data: {
                        'message': textArea.value,
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    },
                    success: function (response) {
                        if (response.status === 200){
                            Swal.fire({
                                icon: 'success',
                                title: 'ارسال شد',
                                text: 'پیام شما با موفقیت ثبت شد. در اسرع وقت به شما پاسخ داده خواهد شد.',
                                confirmButtonColor: '#3085d6',
                            });
                            textArea.value = '';
                        }
                        else if (response.status === 401) {
                            Swal.fire({
                                icon: 'error',
                                title: 'خطای احراز هویت',
                                text: 'برای ارسال پیام باید وارد حساب کاربری خود شوید!',
                                footer: `<a href="{% url 'account:login' %}">حساب کاربری دارید ؟</a>`,
                                confirmButtonColor: '#3085d6',
                            });
                            textArea.value = '';
                        }
                        else if (response.status === 400) {
                            Swal.fire({
                                icon: 'error',
                                title: 'خطا',
                                text: 'فرم معتبر نمی باشد. ارسال پیام با خطا مواجه شده !',
                                confirmButtonColor: '#3085d6',
                            });
                            textArea.value = '';
                        }
                    },
                    error: function (err) {
                        Swal.fire({
                            icon: 'error',
                            title: err.code,
                            text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                            confirmButtonColor: '#3085d6',
                        })
                        textArea.value = '';
                        console.log(err)
                    }
                })
            }else{
                textArea.classList.add('border-danger', 'border-2')
                textArea.focus();
            }
        })
    </script>
{% endblock %}