{% extends 'templates/base.html' %}

{% block head %}
    <meta name="description" content="بخش درباره ما فروشگاه تجهیزات الکترونیکی اچ ام الکترونیک"/>
    <meta name="robots" content="index, follow" />
    <meta name="canonical" content="https://hmelecteronic.ir/aboutus" />
    <title>درباره ما - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
<!-- start breadcroumb -->
    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'main:Home_page' %}" class="font-14 text-muted">خانه</a></li>
                        <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">درباره ما</li>
                    </ol>
                </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcroumb -->
    <!-- start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center mb-5">{{ aboutUs.title }}</h2>
                        </div>
                        <div class="col-12">
                            {{ aboutUs.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
{% endblock %}