{% extends 'templates/base.html' %}
{% load static %}
{% load jformat %}
{% load humanize %}

{% block head %}
    <meta name="description" content="فروشگاه تجهیزات الکترونیکی اچ ام الکترونیک نماینده رسمی شرکت فاراتل"/>
    <meta name="robots" content="index, follow" />
    <meta name="canonical" content="https://www.hmelecteronic.ir, https://hmelecteronic.ir" />
    <title>فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
    <div class="ltn__utilize-overlay"></div>
<!-- Carousel -->
    <div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            {% for image in sliderBannerImages %}
                <a {% if image.url_address %}href="{{ image.url_address }}"{% endif %}>
                    <div class="carousel-item {% if image.sort_number == 1 %}active{% endif %}" data-bs-interval="5000">
                        <img src="{{ image.img.url }}" alt="Banner slider {{ image.sort_number }}" class="d-block w-100">
                    </div>
                </a>
            {% endfor %}
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-next slick-arrow mr-2 ml-2" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-prev mr-2 ml-2" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <!-- SLIDER AREA END -->

    <!-- BANNER AREA START -->
    {% if sectionOneBanners %}
        <div class="ltn__banner-area mt-20">
            <div class="container">
                <div class="row justify-content-center">
                    {% for banner in sectionOneBanners %}
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="ltn__banner-item">
                                <div class="ltn__banner-img">
                                    <a href="{{ banner.url_address }}">
                                        <img src="{{ banner.img.url }}" alt="Banner{{ banner.id }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- BANNER AREA END -->

    <script>
        function setDiscount(realPrice, specialPrice, elemId){
            let newPriceElements = document.getElementsByClassName(`product${elemId}`);
            let discountPrice = realPrice - specialPrice
            let discountPercent = (discountPrice * 100) / realPrice
            discountPercent = Math.floor(discountPercent)
            for (let elem of newPriceElements){
                elem.innerHTML = `${discountPercent}%`;
            }
        }
    </script>

<!-- PRODUCT SLIDER AREA START -->
    {% if products %}
    <div class="ltn__product-slider-area ltn__product-gutter  pt-10 pb-10" style="background-color: #d33253">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area text-center">
                        <h3 class="section-title section-title-border text-light">پیشنهادهای برگزیده</h3>
                        <a href="{% url 'product:shop_page' %}" class="text-light" style="text-decoration: underline">مشاهده همه</a>
                    </div>
                </div>
            </div>
            <div class="row ltn__product-slider-item-four-active slick-arrow-1">
                <!-- ltn__product-item -->
                {% for product in products %}
                    {% if product.remaining_time or product.selected_product %}
                        <div class="col-12" style="padding-right: 2px; padding-left: 2px">
                            <div class="ltn__product-item text-center">
                                <div class="product-img">
                                    <a href="{% url 'product:productDetail_page' product.id product.slug %}">
                                        {% for product_image in product.images.all|slice:':1' %}
                                            <img src="{{ product_image.img.url }}" alt="{{ product.product_name }}">
                                        {% endfor %}
                                    </a>

                                    <div class="product-badge">
                                        <ul>
                                            {% if product.selected_product %}
                                                <li class="m-0 badge-1">برگزیده</li>
                                            {% endif %}
                                            {% if product.special_price and product.status %}
                                                <li class="m-0 badge-2 product{{ product.id }}"></li>
                                                <script>setDiscount({{ product.price }}, {{ product.special_price }}, {{ product.id }})</script>
                                            {% endif %}
                                        </ul>
                                    </div>

                                    <div class="product-hover-action product-hover-action-2">
                                        <ul>
                                            <li>
                                                <a href="{% url 'product:productDetail_page' product.id product.slug %}"
                                                   title="مشاهده">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </li>
                                            <li class="add-to-cart">
                                                {% if product.status %}
                                                    <a href="{% url 'cart:addToCart' product.id %}" title="Add to Cart">
                                                        <span class="cart-text d-none d-xl-block">افزودن به سبد خرید</span>
                                                        <span class="d-block d-xl-none">
                                                            <i class="icon-handbag"></i>
                                                        </span>
                                                    </a>
                                                {% else %}
                                                    <a>
                                                        <span class="cart-text d-none d-xl-block" style="color: red">محصول موجود نمی باشد</span>
                                                        <span class="d-block d-xl-none"><i class="icon-handbag"></i></span>
                                                    </a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info" style="background-color: #eaeaea; height: 100px">
                                    <h1 class="product-title">
                                        <a href="{% url 'product:productDetail_page' product.id product.slug %}">{{ product.product_name }}</a>
                                    </h1>
                                    <div class="product-price">
                                        {% if product.status %}
                                            {% if not product.special_price %}
                                                <span>{{ product.price|intcomma:False }} تومان</span>
                                            {% else %}
                                                <span>{{ product.special_price|intcomma:False }} تومان</span>
                                                <del>{{ product.price|intcomma:False }} تومان</del>
                                            {% endif %}
                                        {% else %}
                                            <span style="color: #b00;">محصول موجود نمی باشد</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- PRODUCT SLIDER AREA END -->

    <!-- BANNER AREA START -->
    {% if sectionTwoBanner %}
        <div class="ltn__banner-area mt-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ltn__banner-item">
                            <div class="ltn__banner-img">
                                <a href="{{ sectionTwoBanner.url_address }}">
                                        <img src="{{ sectionTwoBanner.img.url }}" alt="BannerSectionTwo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- BANNER AREA END -->

    <!-- blog AREA START (blog-3) -->
    {% if blogs %}
        <div class="ltn__blog-area pb-10" style="background-color: #0E1953">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area text-center">
                            <h3 class="section-title section-title-border2 text-light">مقالات اچ ام الکترونیک</h3>
                        </div>
                    </div>
                </div>
                <div class="row ltn__blog-slider-one-active slick-arrow-1">
                    <!-- blog Item -->
                    {% for blog in blogs %}
                        <div class="col-lg-12">
                            <div class="ltn__blog-item">
                                <div class="ltn__blog-img">
                                    <a href="{% url 'blog:detail' blog.slug %}">
                                        <img src="{{ blog.img.url }}" alt="{{ blog.title }}">
                                    </a>
                                </div>
                                <div class="ltn__blog-brief">
                                    <div class="ltn__blog-meta">
                                        <ul class="text-warning">
                                            <li class="ltn__blog-author">
                                                <span>{{ blog.author }}</span>
                                            </li>
                                            <li>
                                                <span> {{ blog.created_at|jformat:"%Y/%m/%d" }}</span>
                                            </li>
                                            <li class="ltn__blog-comment">
                                                <span><i class="icon-speech"></i> {{ blog.comments.count }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <h2 class="ltn__blog-title blog-title-line">
                                        <a href="{% url 'blog:detail' blog.slug %}">{{ blog.title }}</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- blog AREA END -->
{% endblock %}