{% for category in categories %}
    {% if not category.parent %}
        {% if category.subs.all %}
            <li><a class="title my-flex-baseline" href="{% url 'product:categoryDetails_page' category.id category.slug %}">{{ category.title }}</a></li>
            {% for sub in category.subs.all %}
                <li><a href="{% url 'product:categoryDetails_page' sub.id sub.slug %}">{{ sub.title }}</a></li>
            {% endfor %}
        {% else %}
            <li><a class="title my-flex-baseline" href="{% url 'product:categoryDetails_page' category.id category.slug %}">{{ category.title }}</a>
        {% endif %}
    {% endif %}
{% endfor %}
