{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugin/waves/waves.min.js' %}"></script>
<script src="{% static 'plugin/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'plugin/timer/timer.js' %}"></script>
<script src="{% static 'plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/jquery-app.js' %}"></script>
<!-- ===== start new update -->
<script src="{% static 'plugin/go-to-top/script.js' %}"></script>
<script src="{% static 'plugin/rasta-contact/script.js' %}"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
