{% load static %}
<div class="footer-socail">
    <div class="row gy-3">
        {% if communication_ways %}
            <div class="col-lg-3">
                <div class="contact-item">
                    <div class="title">
                        <i class="bi bi-telephone-fill main-color-one-color"></i>
                        <h4 class="font-16"><span class="main-color-one-color">شماره های </span>ارتباطی</h4>
                    </div>
                    <div class="desc">
                        {% if communication_ways.phone_number %}
                            <a href="tel:{{ communication_ways.phone_number }}" class="text-muted">{{ communication_ways.phone_number }}</a>
                        {% endif %}
                        {% if communication_ways.company_n.all %}
                            {% for number in communication_ways.company_n.all %}
                                <span class="m1-3">-</span>
                                <a href="tel:{{ number.province_code }}{{ number.number }}" class="text-muted">{{ number.province_code }}-{{ number.number }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if communication_ways.email %}
        <div class="col-lg-3">
            <div class="contact-item">
                <div class="title">
                    <i class="bi bi-envelope-fill main-color-one-color"></i>
                    <h4 class="font-16"><span class="main-color-one-color"> ایمیل های </span>ارتباطی</h4>
                </div>
                <div class="desc">
                    <a href="mailto:{{ communication_ways.email }}" class="text-muted">{{ communication_ways.email }}</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if communication_ways.address %}
        <div class="col-lg-3">
            <div class="contact-item">
                <div class="title">
                    <i class="bi bi-geo-alt-fill main-color-one-color"></i>
                    <h4 class="font-16"><span class="main-color-one-color"> آدرس </span>فروشگاه</h4>
                </div>
                <div class="desc">
                    <span class="text-muted">{{ communication_ways.address }}</span>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-3">
            <div class="contact-item">
                <div class="title">
                    <i class="bi bi-chevron-down main-color-one-color"></i>
                    <h4 class="font-16"><span class="main-color-one-color"> ارتباط </span>در رسانه ها</h4>
                </div>
                <div class="desc">
                    <div class="social">
                        {% if communication_ways.phone_number %}
                            <a href="https://wa.me/{{ communication_ways.phone_number }}"><i class="bi bi-whatsapp"></i></a>
                        {% endif %}
                        {% if communication_ways.telegram_id %}
                            <a href="https://t.me/{{ communication_ways.telegram_id }}"><i class="bi bi-telegram"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-text">
    <div class="row gy-3">
        <div class="col-lg-9">
            {% if aboutUs %}
            <div class="footer-menu-text">
                <p class="text-justify mb-2">{{ aboutUs.description|safe|truncatewords:'100' }}</p>
                <a href="{% url 'main:AboutUs_Page' %}" class="main-color-one-color"><i class="bi bi-arrow-left main-color-one-color me-1"></i> اطلاعات بیشتر</a>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-3">
            <div class="footer-namad">
                <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=287206&Code=ltR3fZ2GbwZqoJhMnLmS">
                    <img referrerpolicy="origin" src="{% static 'image/enamad.png' %}" alt="E_Namad" id="ltR3fZ2GbwZqoJhMnLmS" class="img-thumbnail">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-copy-right d-flex justify-content-between">
    <p class="mb-0 text-muted">©2024 تمامی حقوق برای وبسایت اچ ام الکترونیک محفوظ است</p>
    <p class="text-center mb-0 fw-bold">ارائه شده توسط <a href="https://zil.ink/aronesadegh" class="text-danger" target="_blank" style="text-decoration: underline;">آرون صادق</a></p>
</div>