{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Aron Sadegh">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="language" content="fa" />
    <meta http-equiv="content-language" content="fa">
    <meta name="keywords" content="اچ ام الکترونیک,hmelecteronic,فروشگاه اچ ام الکترونیک,فاراتل,استابلایزر,ترانس,محافظ,پرنیک,ریزان الکتیریک,یو پی اس,کمپرسور,هیتر,گازمبرد,"/>
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'font/bootstrap-icon/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/waves/waves.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/timer/timer.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/go-to-top/style.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/rasta-contact/style.css' %}">