{% load static %}
<div class="row align-items-center">
    <!-- logo -->
    <div class="col-lg-2 col-6 order-lg-1 order-1">
        <div class="d-flex align-items-center">
            {% include 'includes/mobileMenu.html' %}
            {% if logo %}
            <div class="logo">
                <a href="{% url 'main:Home_page' %}">
                    <img src="{{ logo.img.url }}" alt="hm-electronic logo" class="img-fluid">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- end logo -->

    <!-- action mobile size -->
    <div class="d-lg-none d-block col-6 order-lg-5 order-2">
        <div class="d-flex align-items-center justify-content-end">
            <a class="btn btn-light no-highlight btn-lg btn-action-cart shadow-sm"
               data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart">
                <i class="bi bi-basket font-30"></i>
                <span class="header-cart-counter main-color-one-bg d-inline-block rounded-pill">{{ cart.cart_quantity }}</span>
            </a>
            <div class="dropdown ms-3">
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false" role="button"
                   class="btn btn-white header-register border-0 rounded-pill">
                    <figure class="avatar">
                        <img src="{% static 'image/user.png' %}" alt="user logo">
                    </figure>
                </a>
                <ul class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                        <li>
                            <span class="dropdown-item">
                                <i class="bi bi-person me-2"></i>
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            </span>
                        </li>
                        <li><a href="{% url 'account:logout' %}" class="dropdown-item mct-hover">
                            <i class="bi bi-arrow-right-square me-2"></i>خروج از حساب کاربری</a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'account:login' %}" class="dropdown-item"><i class="bi bi-person-check me-2"></i>ورود</a></li>
                        <li><a href="{% url 'account:register' %}" class="dropdown-item"><i class="bi bi-person-add me-2"></i>ثبت نام</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- end action -->

    <!-- form search -->
    <div class="col-lg-6 order-lg-2 d-lg-block d-none">
        <div class="search-form">
            <form action="{% url 'product:shop_page' %}" method="post">
                {% csrf_token %}
                <div class="search-filed">
                    <input type="text" name="search" placeholder="جستجوی محصولات ..." class="form-control search-input">
                    <button type="submit" class="btn search-btn main-color-one-bg rounded-pill">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- end form search -->

    <!-- auth -->
    <div class="col-lg-4 order-lg-3 d-lg-block d-none">
        <div class="d-flex align-items-center justify-content-end">
            <div class="btn-group header-btn-group shadow-sm rounded-pill">
                {% if request.user.is_authenticated %}
                    <div class="dropdown">
                        <button data-bs-toggle="dropdown" aria-expanded="false" role="button"
                           class="btn btn-white header-register border-0 rounded-pill">
                            <i class="bi bi-person-circle font-20 text-muted me-1"></i>
                            <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'account:logout' %}" class="dropdown-item mct-hover">
                                    <i class="bi bi-arrow-right-square me-2"></i>خروج از حساب کاربری
                                </a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'account:register' %}" class="btn btn-white header-login border-0 rounded-pill">ثبت نام</a>
                    <a href="{% url 'account:login' %}" class="btn btn-white header-login border-0 rounded-pill">ورود</a>
                {% endif %}
            </div>
            <div class="header-cart ms-1">
                <a class="btn header-cart-toggle rounded-pill btn-white border-0 shadow-sm"
                   data-bs-toggle="offcanvas" href="#offcanvasCart" role="button"
                   aria-controls="offcanvasCart">
                    <i class="bi bi-shop font-20 text-muted me-1"></i>
                    <span class="header-cart-counter main-color-one-bg d-inline-block rounded-pill">{{ cart.cart_quantity }}</span>
                </a>
            </div>
        </div>
    </div>
    <!-- end auth -->
</div>