{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="aron sadegh">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="اچ ام الکترونیک,hmelecteronic,فاراتل,استابلایزر,ترانس,الکترونیک,پرنیک,ریزان الکتیریک,یو پی اس,کمپرسور,هیتر,گازمبرد,"/>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="فروشگاه تجهیزات الکترونیکی اچ ام الکترونیک نماینده رسمی شرکت فاراتل"/>
    <meta name="subject" content="فروشگاه تجهیزات الکترونیک اچ ام الکترونیک"/>
    <meta name="copyright" content="hmelecteronic" />
    <meta name="language" content="fa" />
    <meta http-equiv="content-language" content="fa">
    <meta name="url" content="https://www.hmelecteronic.ir, https://hmelecteronic.ir" />

    <title>اچ ام الکترونیک</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- Font Icons css -->
    <link rel="stylesheet" href="{% static 'css/font-icons.css' %}">
    <!-- plugins css -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>