<div class="ltn__brand-logo-area  ltn__brand-logo-1 section-bg-1 pt-35 pb-35 plr--5">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active">
            {% if slider_logo %}
                {% for logo in slider_logo %}
                    <div class="col-lg-12">
                        <div class="ltn__brand-logo-item">
                            <img src="{{ logo.img.url }}" alt="logo brand {{ logo.id }}">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>