<ul class="sub-menu">
    {% for category in categories %}
        {% if not category.parent %}
            {% if category.subs.all %}
                <li><a href="{% url 'product:categoryDetails_page' category.id category.slug %}">{{ category.title }}</a>
                    <ul class="sub-menu">
                        {% for sub in category.subs.all %}
                            <li><a href="{% url 'product:categoryDetails_page' sub.id sub.slug %}">{{ sub.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url 'product:categoryDetails_page' category.id category.slug %}">{{ category.title }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>