{% load render_partial %}
<div class="responsive-menu d-lg-none d-block">
    <button class="btn border-0 p-0 btn-responsive-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#responsiveMenu" aria-label="responsive menu">
        <i class="bi bi-list font-30"></i>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="responsiveMenu" aria-labelledby="responsive menu">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title" id="offcanvasRightLabel">فروشگاه اچ ام الکترونیک</h6>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="header-bottom-form mb-4 w-100">
                <div class="search-form">
                    <form action="{% url 'product:shop_page' %}" method="post">
                        {% csrf_token %}
                        <div class="search-filed">
                            <input type="text" name="search" placeholder="جستجوی محصولات ..." class="form-control search-input">
                            <button type="submit" class="btn search-btn main-color-one-bg rounded-pill">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="rm-item-menu navbar-nav">
                <li class="nav-item bg-ul-f7">
                    <a href="{% url 'main:Home_page' %}" class="nav-link">صفحه اصلی</a>
                </li>
                {% for category in base_categories %}
                    <li class="nav-item bg-ul-f7">
                        <span class="nav-link px-2">{{ category.title }}</span>
                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                        {% render_partial 'product:mobileCategoryPartial' category.slug %}
                    </li>
                {% endfor %}
                <li class="nav-item bg-ul-f7">
                    <a href="{% url 'blog:list' %}" class="nav-link">وبلاگ</a>
                </li>
                <li class="nav-item bg-ul-f7">
                    <a href="{% url 'main:AboutUs_Page' %}" class="nav-link">درباره ما</a>
                </li>
                <li class="nav-item bg-ul-f7">
                    <a href="{% url 'contactUs:contact_page' %}" class="nav-link">تماس با ما</a>
                </li>
            </ul>
        </div>
    </div>
</div>