{% if methods %}
<div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="quick_view_modal" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span><i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ltn__quick-view-modal-inner">
                        <div class="modal-product-item">
                            <h3>روش های ارسال محصول</h3>
                            <div class="row">
                                {% for method in methods %}
                                    <div class="col-12">
                                    <div class="modal-product-info shop-details-info pl-0">
                                        <div class="product-price-ratting mb-2">
                                            <ul>
                                                <li>
                                                    <span style="color: #c20000">{{ method.title }} :</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-product-brief">
                                            <p style="margin-bottom: 10px">{{ method.text }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-12 text-center">
                                    <div class="modal-product-meta ltn__product-details-menu-1">
                                        <span style="color: #979797">اچ ام الکترونیک</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}