{% extends 'templates/base.html' %}
{% load jformat %}

{% block head %}
    <meta name="description" content="در بخش وبلاگ اچ ام الکترونیک جدیدترین مقالات و بینش ها را کاوش کنید"/>
    <meta name="robots" content="index, follow" />
    <meta name="canonical" content="https://hmelecteronic.ir/blog/" />
    <title>لیست مقالات - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
 <!-- start breadcroumb -->
    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'main:Home_page' %}" class="font-14 text-muted">خانه</a></li>
                        <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">لیست مقالات</li>
                    </ol>
                </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcroumb -->
    <!-- start content -->
    {% if blogs_list %}
    <div class="content">
        <div class="gird-post-blog py-20">
            <div class="container-fluid">
                <div class="row gy-3">
                    {% for blog in blogs_list %}
                        {% if blog.status %}
                            <div class="col-lg-3">
                                <div class="blog-item">
                                    <a href="{% url 'blog:detail' blog.slug %}">
                                        <div class="image">
                                            <img src="{{ blog.img.url }}" alt="{{ blog.title }}" class="img-fluid">
                                        </div>
                                        <div class="title">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="title-item">
                                                    <i class="bi bi-person me-1"></i>
                                                    <span class="font-12">{{ blog.author.first_name }} {{ blog.author.last_name }}</span>
                                                </div>
                                                <div class="title-item">
                                                    <i class="bi bi-alarm me-1"></i>
                                                    <span class="font-12">{{ blog.created_at|jformat:"%Y/%m/%d" }}</span>
                                                </div>
                                            </div>
                                            <h4 class="font-16 text-overflow-1 h4">{{ blog.title }}</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if blogs_list.has_other_pages %}
                        <div class="col-12">
                            <div class="my-paginate my-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination flex-wrap justify-content-center">
                                        {% if blogs_list.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link rounded-3" href="?page={{ blogs_list.previous_page_number }}" role="button">قبلی</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link rounded-3" href="#" role="button">قبلی</a>
                                            </li>
                                        {% endif %}

                                        {% for i in blogs_list.paginator.page_range %}
                                            {% if blogs_list.number == i %}
                                                <li class="page-item active">
                                                    <a class="page-link rounded-3" href="?page={{ i }}" role="button">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link rounded-3" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if blogs_list.has_next %}
                                            <li class="page-item">
                                                <a class="page-link rounded-3" href="?page={{ blogs_list.next_page_number }}">بعدی</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link rounded-3" href="#" role="button">بعدی</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- end content -->
{% endblock %}