{% extends 'templates/base.html' %}
{% load static %}
{% load render_partial %}
{% load jformat %}

{% block head %}
    <meta name="description" content="{{ blog.meta_description }}"/>
    <meta name="robots" content="index, follow" />
    <meta name="canonical" content="https://hmelecteronic.ir/blog/detail/{{ blog.slug }}" />
    <title>{{ blog.title }}-اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
    <!-- start breadcroumb -->
    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'main:Home_page' %}" class="font-14 text-muted">خانه</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'blog:list' %}" class="font-14 text-muted">لیست مقالات</a></li>
                        <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">{{ blog.title }}</li>
                    </ol>
                </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcroumb -->
    <!-- start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row gy-3">
                <div class="col-lg-9">
                    <div class="content-box">
                        <div class="container-fluid">
                            <div class="blog-detail">
                                <div class="title-panel mb-2">
                                    <h1 class="font-18">{{ blog.title }}</h1>
                                </div>
                                <div class="blog-post-title-items">
                                    <div class="blog-post-title-item">
                                        <img src="{% static 'image/user.png' %}" class="rounded-circle" alt="author logo">
                                        <p class="text-muted">{{ blog.author.first_name }} {{ blog.author.last_name }}</p>
                                    </div>
                                    <div class="blog-post-title-item">
                                        <i class="bi bi-stopwatch"></i>
                                        <p class="text-muted">{{ blog.created_at|jformat:"%Y/%m/%d" }}</p>
                                    </div>
                                    <div class="blog-post-title-item">
                                        <i class="bi bi-chat-dots"></i>
                                        <p>{{ blog.comments.count }}</p>
                                    </div>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-content">
                                        {{ blog.description|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="side-blog-detail position-sticky top-0">
                        {% render_partial 'blog:blog-sideBarPartial' blog.id %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    <div class="blog-comments">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="blog-comment">
                        <div class="row">
                            <div class="col-12">
                                <div class="title-panel">
                                    <h6 class="tab-title text-start">
                                        <span>{{ blog.comments.count }}</span>
                                        <span>دیدگاه برای</span>
                                        {% if blog.comments.count == 0 %}
                                            <span>{{ blog.title }} , اولین نفری باشید که برای این محصول نظر ثبت می کند.</span>
                                        {% else %}
                                            <span>{{ blog.title }}</span>
                                        {% endif %}
                                    </h6>
                                </div>
                                {% for comment in blog.comments.all %}
                                    {% if comment.parent == None %}
                                        <div class="comment-item">
                                            <div class="comment-item-avatar d-sm-flex d-none">
                                                <div class="comment-item-avatar-img ">
                                                    <img src="{% static 'image/user-profile.png' %}" class="rounded-circle" width="40" alt="user profile1">
                                                </div>
                                            </div>
                                            <div class="comment-item-desc">
                                                <div class="comment-item-avatar d-sm-none d-flex mb-2">
                                                    <div class="comment-item-avatar-img ">
                                                        <img src="{% static 'image/user-profile.png' %}" class="rounded-circle" width="40" alt="user profile2">
                                                    </div>
                                                </div>
                                                <div class="comment-item-title">
                                                    <div class="comment-date">
                                                        <p class="text-muted comment-date-auther">{{ comment.user.first_name }} {{ comment.user.last_name }}</p>
                                                        <p class="text-muted comment-date-speractor">–</p>
                                                        <p class="text-muted comment-date-date">{{ comment.created_at|jformat:'%Y/%m/%d' }}</p>
                                                    </div>
                                                </div>
                                                <div class="comment-item-content">
                                                    <p>{{ comment.text }}</p>
                                                    {% if comment.replies.all %}
                                                        {% for reply in comment.replies.all %}
                                                            <div class="comment-item">
                                                                <div class="comment-item-avatar d-sm-flex d-none">
                                                                    <div class="comment-item-avatar-img ">
                                                                        {% if reply.user.is_staff %}
                                                                            <img src="{% static 'image/user.png' %}" class="rounded-circle" width="40" alt="profile1">
                                                                        {% else %}
                                                                            <img src="{% static 'image/user-profile.png' %}" class="rounded-circle" width="40" alt="profile1">
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="comment-item-desc com-response">
                                                                    <div class="comment-item-avatar d-sm-none d-flex mb-2">
                                                                        <div class="comment-item-avatar-img ">
                                                                            {% if reply.user.is_staff %}
                                                                                <img src="{% static 'image/user.png' %}" class="rounded-circle" width="40" alt="profile2">
                                                                            {% else %}
                                                                                <img src="{% static 'image/user-profile.png' %}" class="rounded-circle" width="40" alt="profile2">
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="comment-item-title">
                                                                        <div class="comment-date">
                                                                            <p class="text-muted comment-date-auther">{{ reply.user.first_name }} {{ reply.user.last_name }}</p>
                                                                            <p class="text-muted comment-date-speractor">–</p>
                                                                            <p class="text-muted comment-date-date">{{ reply.created_at|jformat:'%Y/%m/%d' }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="comment-item-content">
                                                                        <p>{{ reply.text }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <button id="reply-btn" onclick="setParentId({{ comment.id }})" class="btn main-color-one-bg px-4 btn-sm">پاسخ</button>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        <div class="content-box">
            <div class="container-fluid">
                <div class="comment-form">
                    <div class="title-panel mb-3">
                        <h6 class="font-18">دیدگاه خود را بنویسید</h6>
                    </div>
                    <form action="#">
                        <div class="form-group mb-2">
                            {% if not request.user.is_authenticated %}
                                <label for="commentbody" class="form-label text-danger my-3"> * برای ثبت نظر , ابتدا باید
                                    <a href="{% url 'account:login' %}" class="main-color-one-color" style="text-decoration: underline">وارد حساب کاربری</a>
                                    خود شوید
                                </label>
                            {% else %}
                                <label for="commentbody" class="form-label my-3">دیدگاه شما <span class="text-danger ms-1">*</span></label>
                            {% endif %}
                            <textarea id="commentbody" rows="7" class="form-control" placeholder="دیدگاه شما..." required></textarea>
                            <input type="number" name="parent_id" id="parent-input" hidden="hidden">
                        </div>
                        <button type="submit" id="submit-btn" class="btn main-color-three-bg px-5 rounded-3 mt-3" style="padding:10px 100px !important">
                            ثبت
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end blog-comment -->
    <script>
        let submitBtn = document.getElementById('submit-btn');
        let textArea = document.getElementById('commentbody');
        let parentInput = document.getElementById('parent-input');

        function setParentId(id){
            parentInput.value = id;
            textArea.scrollIntoView({behavior: "smooth", block: "center", inline: "center"});
            textArea.placeholder = 'پاسخ خود را وارد کنید...'
            textArea.focus();
        }

        submitBtn.addEventListener('click', event => {
            event.preventDefault();
            if (textArea.value) {
                function clearForms() {
                    textArea.value = '';
                    parentInput.value = '';
                }
                $.ajax({
                    url: '{% url "blog:detail" blog.slug %}',
                    type: 'POST',
                    data: {
                        'text': textArea.value,
                        'parent_id': parentInput.value,
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    },
                    success: function (response) {
                        if (response.status === 401) {
                            Swal.fire({
                                icon: 'error',
                                title: 'خطای احراز هویت',
                                text: 'برای ثبت نظر خود باید وارد حساب کاربریتان شوید!',
                                footer: `<a href="{% url 'account:login' %}">حساب کاربری دارید ؟</a>`,
                                confirmButtonColor: '#3085d6',
                            });
                            clearForms();
                        }
                        else if (response.status === 400) {
                            Swal.fire({
                                icon: 'error',
                                text: 'فرم معتبر نمی باشد ! ',
                                confirmButtonColor: '#3085d6',
                            });
                            clearForms();
                        }
                        else if (response.status === 200) {
                            Swal.fire({
                                position: 'top-start',
                                icon: 'success',
                                title: 'نظر شما با موفقیت ثبت شد',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                clearForms();
                                window.location.reload()
                            })
                        }
                    },
                    error: function (err) {
                        Swal.fire({
                            icon: 'error',
                            title: err.code,
                            text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                            confirmButtonColor: '#3085d6',
                        })
                        console.log(err)
                    }
                })
            } else {
                textArea.classList.add('border-danger', 'border-2')
                textArea.focus();
            }
        })
    </script>
{% endblock %}