{% extends 'templates/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
    {% if meta_description %}
        <meta name="description" content="{{ meta_description }}"/>
    {% endif %}
    {% if meta_url %}
        <meta name="canonical" content="https://hmelecteronic.ir/{{ meta_url }}" />
    {% endif %}
    <meta name="robots" content="index, follow" />
    <title>لیست محصولات - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
    <!-- start bread croumb -->
    <div class="bread-crumb pt-3">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'main:Home_page' %}" class="font-14 text-muted">خانه</a></li>
                            <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">{{ current }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcroumb -->
    <script>
        function setDiscount(realPrice, specialPrice, elemId){
            let newPriceElements = document.getElementsByClassName(`product${elemId}`);
            let discountPrice = realPrice - specialPrice
            let discountPercent = (discountPrice * 100) / realPrice
            discountPercent = Math.round(discountPercent)
            for (let elem of newPriceElements){
                elem.innerHTML = `${discountPercent}% تخفیف`;
            }
        }
    </script>
    <!-- start content -->
    <div class="content">
        <div class="container-fluid">
            <!-- start filter in mobile -->
            <div class="custom-filter d-lg-none d-block">
                <button class="btn btn-filter-float border-0 main-color-two-bg shadow-box px-3 rounded-3 position-fixed"
                    style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="bi bi-funnel font-20 fw-bold text-white"></i>
                    <span class="d-block font-14 text-white">فیلتر</span>
                </button>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">فیلتر ها</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="filter-items position-sticky top-0">
                            <div class="container-fluid">
                                <div class="filter-item">
                                    <h5 class="filter-item-title">جستجو</h5>
                                    <div class="filter-item-content">
                                        <div class="search-form">
                                            <form action="{% url 'product:shop_page' %}" method="post">
                                                {% csrf_token %}
                                                <div class="search-filed">
                                                    <input type="text" name="search" id="product_search_input" placeholder="جستجوی محصولات ..." class="form-control search-input">
                                                    <button type="submit" class="btn search-btn main-color-one-bg rounded-pill">
                                                        <i class="bi bi-search"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-item">
                                    <h5 class="filter-item-title">قیمت</h5>
                                    <div class="filter-item-content">
                                        <form id="filter-form-mobile">
                                            <div class="row">
                                                <div class="col-6">
                                                    <input type="number" name="min_price" min="1500000"
                                                           class="form-control input-range-filter" placeholder="از 1,500,000">
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" name="max_price" min="1500000" max="80000000"
                                                           class="form-control input-range-filter" placeholder="تا 80,000,000">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="filter-item text-center">
                                    <button class="btn-outline-site" onclick="applyFilter('filter-form-mobile')">اعمال فیلتر</button>
                                </div>
                                <div class="filter-item">
                                    <h5 class="filter-item-title">رنگ محصول</h5>
                                    <div class="filter-item-content">
                                        <div class="product-meta-color-items">
                                        {% for tag in tags %}
                                            <a href="{% url 'product:shop_page' %}?tag={{ tag.slug }}" class="btn">
                                                {{ tag.title }}
                                            </a>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-3">
                <div class="col-lg-3 d-lg-block d-none">
                    <div class="filter-items position-sticky top-0">
                        <div class="container-fluid">
                            <div class="filter-item">
                                <h5 class="filter-item-title">جستجو</h5>
                                <div class="filter-item-content">
                                    <div class="search-form">
                                        <form action="{% url 'product:shop_page' %}" method="post">
                                            {% csrf_token %}
                                            <div class="search-filed">
                                                <input type="text" name="search" id="product_search_input" placeholder="جستجوی محصولات ..." class="form-control search-input">
                                                <button type="submit" class="btn search-btn main-color-one-bg rounded-pill">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-item">
                                <h5 class="filter-item-title">قیمت</h5>
                                <div class="filter-item-content">
                                    <form id="filter-form">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="number" name="min_price" min="1500000"
                                                       class="form-control input-range-filter" placeholder="از 1,500,000">
                                            </div>
                                            <div class="col-6">
                                                <input type="number" name="max_price" min="1500000" max="80000000"
                                                       class="form-control input-range-filter" placeholder="تا 80,000,000">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="filter-item text-center">
                                <button class="btn-outline-site" onclick="applyFilter('filter-form')">اعمال فیلتر</button>
                            </div>
                            <div class="filter-item">
                                <h5 class="filter-item-title">تگ محصولات</h5>
                                <div class="filter-item-content">
                                    <div class="product-meta-color-items">
                                        {% for tag in tags %}
                                        <a href="{% url 'product:shop_page' %}?tag={{ tag.slug }}" class="btn">
                                            {{ tag.title }}
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                {% if not products_list %}
                    <div class="text-center">
                        <img src="{% static 'image/item-not-found.png' %}" alt="product not found" height="300" width="300" class="img-fluid mx-auto d-block">
                        <h6 class="font-18 mt-4">محصولی یافت نشد</h6>
                    </div>
                {% else %}
                    <div class="category-items">
                        <div class="row g-3">
                            {% for product in products_list %}
                                <div class="col-lg-4">
                                    <div class="product-box ">
                                        <div class="product-timer">
                                            {% if product.special_price %}
                                                <div class="timer-label">
                                                    <span class="product{{ product.id }}"></span>
                                                    <script>setDiscount({{ product.price }}, {{ product.special_price }}, {{ product.id }})</script>
                                                </div>
                                            {% endif %}
                                            {% if product.selected_product %}
                                                <div>
                                                    <img src="{% static 'image/star.png' %}" class="img-fluid" width="31px" alt="star logo" title="محصول برگزیده">
                                                </div>
                                            {% endif %}
                                        </div>
                                        <a href="{% url 'product:productDetail_page' product.id product.slug %}" title="{{ product.product_name }}">
                                            <div class="product-image">
                                                {% if product.images.count > 1 %}
                                                    {% for image in product.images.all|slice:':2' %}
                                                        <img src="{{ image.img.url }}" loading="lazy"
                                                             alt="{{ product.product_name }}{% cycle '1' '2' %}"
                                                             class="img-fluid {% cycle 'one-image' 'two-image' %}"
                                                        >
                                                    {% endfor %}
                                                {% else %}
                                                    {% for image in product.images.all|slice:':1' %}
                                                        <img src="{{ image.img.url }}" loading="lazy" alt="{{ product.product_name }}" class="img-fluid">
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </a>
                                        <div class="product-title">
                                            <a href="{% url 'product:productDetail_page' product.id product.slug %}">
                                                <div class="title">
                                                    <p class="text-overflow-1">{{ product.product_name }}</p>
                                                    {% if product.subtitle %}
                                                        <span class="text-muted text-overflow-1">{{ product.subtitle }}</span>
                                                    {% endif %}
                                                </div>
                                            </a>
                                        </div>
                                        {% if product.status %}
                                            <div class="product-action">
                                                 <div class="price">
                                                    {% if product.special_price %}
                                                        <p class="new-price">{{ product.special_price|intcomma:False }} تومان</p>
                                                        <p class="old-price">{{ product.price|intcomma:False }} تومان</p>
                                                    {% else %}
                                                        <p class="new-price">{{ product.price|intcomma:False }} تومان</p>
                                                    {% endif %}
                                                </div>
                                                <div class="link">
                                                    {% if product.disable_order %}
                                                        <a href="#" onclick="disableOrder()" class="btn border-0 rounded-3 main-color-one-bg" role="button">
                                                            <i class="bi bi-basket text-white"></i>
                                                            <span class="text-white">خرید محصول</span>
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'cart:addToCart' product.id %}" class="btn border-0 rounded-3 main-color-one-bg" role="button">
                                                            <i class="bi bi-basket text-white"></i>
                                                            <span class="text-white">خرید محصول</span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="product-action text-center" style="display: block">
                                                <div class="link">
                                                    <a class="btn border-0 rounded-3 btn-danger w-100 disabled" role="button">
                                                        <i class="bi bi-x-circle text-white"></i>
                                                        <span class="text-white">ناموجود</span>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if products_list.has_other_pages %}
                                <div class="col-12">
                                    <div class="my-paginate my-4">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination flex-wrap justify-content-center">
                                                {% if products_list.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link rounded-3 changePage" role="button" href="?page={{ products_list.previous_page_number }}">قبلی</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link rounded-3" role="button" href="#">قبلی</a>
                                                    </li>
                                                {% endif %}

                                                {% for i in products_list.paginator.page_range %}
                                                    {% if products_list.number == i %}
                                                        <li class="page-item active"><a class="page-link rounded-3 changePage" href="?page={{ i }}">{{ i }}</a></li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link rounded-3 changePage" href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if products_list.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link rounded-3 changePage" role="button" href="?page={{ products_list.next_page_number }}">بعدی</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link rounded-3" role="button" href="#">بعدی</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    <script>
        // PRODUCT FILTER - START
        function applyFilter(formId) {
            let filterForm = document.getElementById(formId);
            let priceInputs = filterForm.querySelectorAll('input');
            let maxPriceInput = priceInputs[1];
            let minPriceInput = priceInputs[0];
            if (maxPriceInput.value && minPriceInput.value) {
                filterForm.submit();
            }
        }
        // PRODUCT FILTER - END

        // CHANGE PAGE - START
        if (window.location.search) {
            const url = new URL(window.location.href);
            let changePageButtons = document.getElementsByClassName('changePage');
            for (let button of changePageButtons) {
                button.addEventListener('click', event => {
                    event.preventDefault();
                    if (url.searchParams.has("page")) {
                       url.searchParams.delete("page")
                    }
                    let parameter = button.attributes.href.value
                    if (url.searchParams.size > 0) {
                        parameter = parameter.replace("?", "&");
                    }
                    let newUrl = url.href + parameter;
                    window.location.assign(newUrl);
                })
            }
        }
        // CHANGE PAGE - END
    </script>
{% endblock %}
