{% extends 'templates/base.html' %}

{% block head %}
    <meta name="robots" content="noindex, nofollow" />
    <meta name="canonical" content="https://hmelecteronic.ir/account/checkotp" />
    <title>بررسی کد احراز هویت - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
    <!-- start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="vh-100">
                <div class="row gy-2 justify-content-center align-items-center h-100">
                    <div class="col-md-6">
                        <div class="content-box">
                            <div class="container-fluid">
                                <div class="title-panel">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="font-18">فرم ثبت نام اچ ام الکترونیک</h6>
                                        {% if logo %}
                                            <img src="{{ logo.img.url }}" alt="logo" class="img-fluid" width="150">
                                        {% endif %}
                                    </div>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <label for="code" class="form-label font-18">کد ارسال شده را وارد کنید :</label>
                                        <input type="number" required name="code" id="code" placeholder="کد ارسال شده را وارد کنید" class="form-control text-center py-4">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="otp-submit" class="btn border-0 btnForm main-color-one-bg w-100 py-3">ارسال کد</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <script>
        let codeInput = document.getElementById('code');
        let submitBtn = document.getElementById('otp-submit');
        const urlParam = new URLSearchParams(window.location.search);
    
        function showError(message){
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: '#0068d7',
            })
        }
        
        function submitOtpCode(code, token){
            $.ajax({
                url: '{% url "account:checkOtp_page" %}',
                type: 'POST',
                data: {
                    'code': code,
                    'token': token,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                success: function (response) {
                    if (response.status === 400){
                        showError(response.errMessage);
                        submitBtn.disabled = false;
                        codeInput.disabled = false;
                    }
                    else if (response.status === 200) {
                        Swal.fire({
                            position: 'top-start',
                            icon: 'success',
                            title: `${response.fName} ${response.lName} خوش آمدید `,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            window.location.assign('/')
                        })
                    }
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                        confirmButtonColor: '#3085d6',
                    })
                    console.log(error)
                    submitBtn.disabled = false;
                    codeInput.disabled = false;
                }
            })
        }
    
        submitBtn.addEventListener('click', () => {
            let code = Number(codeInput.value);
            if (!urlParam.has('token')){
                showError('توکن وجود ندارد !');
            }
            else if (!codeInput.value){
                showError('کد ارسال شده را در فرم زیر وارد کنید !');
            }
            else if (codeInput.value.length < 5 || codeInput.value.length > 5){
                showError('کد وارد شده نامعتبر است !');
            }
            else if (Number.isInteger(code)){
                let token = urlParam.get('token');
                submitOtpCode(code, token);
                submitBtn.disabled = true;
                codeInput.disabled = true;
            }
            else{
                showError('کد وارد شده نادرست است !')
            }
        })
    </script>
{% endblock %}