{% extends 'templates/base.html' %}

{% block head %}
    <meta name="description" content="بخش ورود به سایت فروشگاه تجهیزات الکترونیکی اچ ام الکترونیک"/>
    <meta name="robots" content="index, follow" />
    <meta name="canonical" content="https://hmelecteronic.ir/account/login" />
    <title>ورود - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
    <!-- start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="vh-100">
                <div class="row gy-2 justify-content-center align-items-center h-100">
                    <div class="col-md-6">
                        <div class="content-box">
                            <div class="container-fluid">
                                <div class="title-panel">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="font-18">فرم ورود به اچ ام الکترونیک</h6>
                                        {% if logo %}
                                            <img src="{{ logo.img.url }}" alt="logo" class="img-fluid" width="150">
                                        {% endif %}
                                    </div>
                                </div>
                                <!--LOGIN FORM SECTION-->
                                <form id="login-form">
                                    <div class="form-group">
                                        <label for="phone" class="form-label font-18">شماره تلفن :</label>
                                        {{ loginForm.phone }}
                                        <label for="passwd" class="form-label font-18">رمز عبور :</label>
                                        {{ loginForm.password }}
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="submit-btn" class="btn border-0 main-color-one-bg w-100 py-3">ورود</button>
                                    </div>
                                    <div class="form-group d-flex justify-content-between">
                                        <span role="button" id="forgot-passwd" class="text-center main-color-one-color border-animate fromCenter py-2 d-inline-block">رمز عبور خود را فراموش کرده اید ؟</span>
                                        <a href="{% url 'account:register' %}" class="text-center main-color-one-color border-animate fromCenter py-2 d-inline-block">حساب کاربری ندارید؟ برای ساخت حساب کلیک کنید</a>
                                    </div>
                                </form>
                                <!--FORGOT PASSWORD SECTION-->
                                <form id="forgot-passwd-form" class="d-none">
                                    <div id="f-email-section">
                                        <div class="form-group">
                                            <label for="email" class="form-label font-18">ایمیل :</label>
                                            {{ forgot_password.email }}
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn border-0 main-color-one-bg w-100 py-3">ارسال</button>
                                        </div>
                                    </div>
                                    <div id="f-code-section" class="d-none">
                                        <div class="form-group">
                                            <label for="code-input" class="form-label font-18">کد :</label>
                                            <input type="text" name='code' placeholder="کد ارسال شده به ایمیل را وارد کنید" class='form-control py-4' id="code-input">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn border-0 main-color-one-bg w-100 py-3">ارسال کد</button>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <a href="{% url 'account:register' %}" role="button" class="text-center main-color-one-color border-animate fromCenter py-2 d-inline-block">حساب کاربری ندارید؟ برای ساخت حساب کلیک کنید</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- این بی آر ها برای ایجاد اسکرول در صفحه هستند که تمام اجزای فرم به بدرستی نمایش داده شود و منوی موبایلی خودش را روی اجزای فرم نیندازد -->
    <br><br><br><br><br><br><br><br>
    <!-- end content -->
    <script>
        // login form section
        let loginForm = document.getElementById('login-form'); // login form
        let phoneInput = document.getElementById('phone'); // email input in login form
        let passwordInput = document.getElementById('passwd'); // password input in login form
        let submitBtn = document.getElementById('submit-btn'); // submit button in login form
        let forgotPasswordText = document.getElementById('forgot-passwd'); // forgot password text in login form
        // forgot password section
        let forgotPasswordForm = document.getElementById('forgot-passwd-form'); // forgot password form
        let f_emailSection = forgotPasswordForm.querySelector('#f-email-section'); // email section in forgot password form
        let f_codeSection = forgotPasswordForm.querySelector('#f-code-section'); // code section in forgot password form
        let f_emailInput = f_emailSection.querySelector('input'); // email input in forgot password form
        let f_sendBtn = f_emailSection.querySelector('button'); // submit button in forgot password form
        let codeInput = f_codeSection.querySelector('input'); // code input in forgot password form
        let sendCodeBtn = f_codeSection.querySelector('button'); // send code button in forgot password form
        

        function login(phone, password){
            $.ajax({
                url: '{% url "account:login" %}',
                type: 'POST',
                data: {
                    'phone': phone,
                    'password': password,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                success: function (response) {
                    if (response.status === 400) {
                        Swal.fire({
                            icon: 'error',
                            title: 'خطا ۴۰۰',
                            text: `${response.error_message}`,
                            confirmButtonColor: '#3085d6',
                        })
                        phoneInput.disabled = false;
                        passwordInput.disabled = false;
                    }
                    else if (response.status === 401) {
                        Swal.fire({
                            icon: 'error',
                            title: 'ناموفق',
                            text: 'کاربری با این مشخصات یافت نشد. رمز یا شماره همراه نامعتبر است.',
                            confirmButtonColor: '#3085d6',
                        })
                        phoneInput.disabled = false;
                        passwordInput.disabled = false;
                    }
                    else if (response.status === 200){
                        Swal.fire({
                            position: 'top-start',
                            icon: 'success',
                            title: `${response.firstName} ${response.lastName} خوش آمدید `,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            let urlParams = new URLSearchParams(window.location.search)
                            if (urlParams.has('next')) {
                                let next_page = urlParams.get('next');
                                window.location.assign(next_page)
                            }else{
                                window.location.assign('/')
                            }
                        })
                    }
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                        confirmButtonColor: '#3085d6',
                    })
                    console.log(error)
                    phoneInput.disabled = false;
                    passwordInput.disabled = false;
                }
            })
        }

        // Send the email that entered in forgot password section
        function submitForgotPasswordEmail(email){
            $.ajax({
                url: '{% url "account:forgotPassword" %}',
                type: 'POST',
                data: {
                    'email': email,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                success: function (response) {
                    if (response.status === 400) {
                        Swal.fire({
                            icon: 'error',
                            title: 'خطا',
                            text:  `${response.err}`,
                            confirmButtonColor: '#3085d6',
                        })
                        f_sendBtn.disabled = false;
                        f_emailInput.disabled = false;
                    }
                    else if (response.status === 401) {
                        Swal.fire({
                            icon: 'error',
                            title: 'ناموفق',
                            text: 'ایمیل یافت نشد.',
                            confirmButtonColor: '#3085d6',
                        })
                        f_sendBtn.disabled = false;
                        f_emailInput.disabled = false;
                    }
                    else if (response.status === 200){
                        f_emailSection.style.display = 'none';
                        f_codeSection.classList.remove('d-none');
                    }
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                        confirmButtonColor: '#3085d6',
                    })
                    console.log(error)
                    f_sendBtn.disabled = false;
                    f_emailInput.disabled = false;
                }
            })
        }

        // Submit the code that was sent to the by email
        function submitForgotPasswordCode(code){
            if (Number.isInteger(code)) {
                $.ajax({
                    url: `{% url "account:forgotPassword" %}?code=${code}`,
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    },
                    success: function (response) {
                        if (response.status === 400) {
                            Swal.fire({
                                icon: 'error',
                                title: 'خطا',
                                text:  `${response.err}`,
                                confirmButtonColor: '#3085d6',
                            })
                            sendCodeBtn.disabled = false;
                            codeInput.disabled = false;
                        }
                        else if (response.status === 401) {
                            Swal.fire({
                                icon: 'error',
                                title: 'خطا',
                                text: `${response.err}`,
                                confirmButtonColor: '#3085d6',
                            })
                            sendCodeBtn.disabled = false;
                            codeInput.disabled = false;
                        }
                        else if (response.status === 200){
                            Swal.fire({
                                position: 'top-start',
                                icon: 'success',
                                title: `${response.firstName} ${response.lastName} خوش آمدید `,
                                showConfirmButton: false, timer: 1500
                            }).then(() => {
                                window.location.assign('/')
                            })
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                            confirmButtonColor: '#3085d6',
                        })
                        console.log(error)
                        sendCodeBtn.disabled = false;
                        codeInput.disabled = false;
                    }
                })
            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'خطا',
                    text:  'مقدار وارد شده صحیح نمی باشد!',
                    confirmButtonColor: '#3085d6',
                })
                sendCodeBtn.disabled = false;
                codeInput.disabled = false;
            }
        }

        
        submitBtn.addEventListener('click', event => {
            event.preventDefault();
            let phone = phoneInput.value;
            let password = passwordInput.value;
            if (!phone){
                phoneInput.classList.add('border-danger', 'border-2')
                phoneInput.focus();
            }
            else if (!password){
                passwordInput.classList.add('border-danger', 'border-2')
                passwordInput.focus();
            }
            else {
                login(phone, password);
                phoneInput.disabled = true;
                passwordInput.disabled = true;
            }
        })

        f_sendBtn.addEventListener('click', event => {
            event.preventDefault();
            if (f_emailInput.value) {
                submitForgotPasswordEmail(f_emailInput.value);
                f_sendBtn.disabled = true;
                f_emailInput.disabled = true;
            }
        });

        sendCodeBtn.addEventListener('click', event => {
            event.preventDefault();
            if (codeInput.value) {
                let code = Number(codeInput.value);
                submitForgotPasswordCode(code);
                sendCodeBtn.disabled = true;
                codeInput.disabled = true;
            }
        })
        
        // function to show the forgot password form
        forgotPasswordText.addEventListener('click', () => {
            loginForm.style.display = 'none';
            forgotPasswordForm.classList.remove('d-none');
            f_emailInput.focus();
        });
    </script>
{% endblock %}