{% extends 'templates/base.html' %}

{% block head %}
    <meta name="description" content="بخش ورود به سایت فروشگاه تجهیزات الکترونیکی اچ ام الکترونیک"/>
    <meta name="robots" content="index, follow" />
    <meta name="canonical" content="https://hmelecteronic.ir/account/login" />
    <title>ورود - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-4 ltn__breadcrumb-color-white---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner text-center">
                        <h1 class="ltn__page-title">حساب کاربری</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'main:Home_Page' %}" style="text-decoration: underline">خانه</a><i class="fa-solid fa-chevron-left" style="font-size: 10px;margin-right: 5px;margin-left: 3px"></i></li>
                                <li>ورود</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- LOGIN AREA START -->
    <div class="ltn__login-area pb-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area text-center">
                        <h1>به حساب <br> خود وارد شوید</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="account-login-inner">
                        <!--LOGIN FORM SECTION-->
                        <form class="ltn__form-box contact-form-box" id="loginForm">
                            <h6 class="alert alert-danger text-center d-none" id="phoneError"></h6>
                            {{ loginForm.phone }}
                            <h6 class="alert alert-danger text-center d-none" id="passwordError"></h6>
                            {{ loginForm.password }}
                            <div class="btn-wrapper mt-0">
                                <button class="theme-btn-1 btn btn-block" id="submitBtn" type="submit">ورود</button>
                            </div>
                            <div class="go-to-btn mt-20">
                                <h6 style="color: black; cursor: pointer">ایا رمز خود را فراموش کرده اید؟</h6>
                            </div>
                        </form>
                        <!--FORGOT PASSWORD SECTION-->
                        <form class="ltn__form-box  contact-form-box d-none" id="f_form">
                            {{ forgot_password.email }}
                            <input type="text" name='code' placeholder="کد را وارد کنید..." class='d-none' id="codeInput">
                            <div class="go-to-btn mb-4">
                                <h6 style="color: black">برای بازیابی رمز عبور ایمیل خود را وارد کنید.</h6>
                            </div>
                            <div class="btn-wrapper mt-0">
                                <button class="theme-btn-1 btn btn-block" type="submit" id="sendBtn">ارسال</button>
                                <button class="theme-btn-1 btn btn-block d-none" type="submit" id="sendCodeBtn">ارسال کد</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="account-create text-center pt-50">
                        <h4>حساب کاربری ندارید؟</h4>
                        <p>با ساخت حساب کاربری به ما در جهت خدمات رسانی بهتر یاری کنید .</p>
                        <div class="btn-wrapper">
                            <a href="{% url 'account:register' %}" class="theme-btn-1 btn black-btn">اکانت بسازید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN AREA END -->
    <script>
        // login form section
        let loginForm = document.getElementById('loginForm'); // login form
        let phoneInput = document.getElementById('id_phone'); // email input in login form
        let passwordInput = document.getElementById('id_password'); // password input in login form
        let submitBtn = document.getElementById('submitBtn'); // submit button in login form
        let forgotPasswordText = document.querySelector('#loginForm .go-to-btn h6') // forgot password text in login form
        // forgot password section
        let f_passwordForm = document.getElementById('f_form'); // forgot password form
        let f_passwordText = document.querySelector('#f_form .go-to-btn h6'); // help text in forgot password form
        let f_emailInput = document.querySelector('#f_form #id_email'); // email input in forgot password form
        let f_sendBtn = document.getElementById('sendBtn'); // submit button in forgot password form
        let codeInput = document.querySelector('#f_form #codeInput'); // code input in forgot password form
        let sendCodeBtn = document.getElementById('sendCodeBtn'); // send code button in forgot password form
        

        function login(phone, password){
            $.ajax({
                url: '{% url "account:login" %}',
                type: 'POST',
                data: {
                    'phone': phone,
                    'password': password,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                success: function (response) {
                    if (response.status === 400) {
                        Swal.fire({
                            icon: 'error',
                            title: 'خطا ۴۰۰',
                            text: `${response.error_message}`,
                            confirmButtonColor: '#3085d6',
                        })
                        phoneInput.disabled = false;
                        passwordInput.disabled = false;
                    }
                    else if (response.status === 401) {
                        Swal.fire({
                            icon: 'error',
                            title: 'ناموفق',
                            text: 'کاربری با این مشخصات یافت نشد. رمز یا شماره همراه نامعتبر است.',
                            confirmButtonColor: '#3085d6',
                        })
                        phoneInput.disabled = false;
                        passwordInput.disabled = false;
                    }
                    else if (response.status === 200){
                        Swal.fire({
                            position: 'top-start',
                            icon: 'success',
                            title: `${response.firstName} ${response.lastName} خوش آمدید `,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            let urlParams = new URLSearchParams(window.location.search)
                            if (urlParams.has('next')) {
                                let next_page = urlParams.get('next');
                                window.location.assign(next_page)
                            }else{
                                window.location.assign('/')
                            }
                        })
                    }
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                        confirmButtonColor: '#3085d6',
                    })
                    console.log(error)
                    phoneInput.disabled = false;
                    passwordInput.disabled = false;
                }
            })
        }

        // Send the email that entered in forgot password section
        function submitForgotPasswordEmail(email){
            $.ajax({
                url: '{% url "account:forgotPassword" %}',
                type: 'POST',
                data: {
                    'email': email,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                success: function (response) {
                    if (response.status === 400) {
                        Swal.fire({
                            icon: 'error',
                            title: 'خطا',
                            text:  `${response.err}`,
                            confirmButtonColor: '#3085d6',
                        })
                        f_sendBtn.disabled = false;
                        f_emailInput.disabled = false;
                    }
                    else if (response.status === 401) {
                        Swal.fire({
                            icon: 'error',
                            title: 'ناموفق',
                            text: 'ایمیل یافت نشد.',
                            confirmButtonColor: '#3085d6',
                        })
                        f_sendBtn.disabled = false;
                        f_emailInput.disabled = false;
                    }
                    else if (response.status === 200){
                        f_emailInput.style.display = 'none';
                        codeInput.classList.remove('d-none');
                        f_passwordText.innerText = 'کد ارسال شده به ایمیل تان را وارد کنید.';
                        f_sendBtn.style.display = 'none';
                        sendCodeBtn.classList.remove('d-none');
                    }
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                        confirmButtonColor: '#3085d6',
                    })
                    console.log(error)
                    f_sendBtn.disabled = false;
                    f_emailInput.disabled = false;
                }
            })
        }

        // Submit the code that was sent to the by email
        function submitForgotPasswordCode(code){
            if (Number.isInteger(code)) {
                $.ajax({
                    url: `{% url "account:forgotPassword" %}?code=${code}`,
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    },
                    success: function (response) {
                        if (response.status === 400) {
                            Swal.fire({
                                icon: 'error',
                                title: 'خطا',
                                text:  `${response.err}`,
                                confirmButtonColor: '#3085d6',
                            })
                            sendCodeBtn.disabled = false;
                            codeInput.disabled = false;
                        }
                        else if (response.status === 401) {
                            Swal.fire({
                                icon: 'error',
                                title: 'خطا',
                                text: `${response.err}`,
                                confirmButtonColor: '#3085d6',
                            })
                            sendCodeBtn.disabled = false;
                            codeInput.disabled = false;
                        }
                        else if (response.status === 200){
                            Swal.fire({
                                position: 'top-start',
                                icon: 'success',
                                title: `${response.firstName} ${response.lastName} خوش آمدید `,
                                showConfirmButton: false, timer: 1500
                            }).then(() => {
                                window.location.assign('/')
                            })
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'خطایی رخ داده است! وضعیت اینترنت خود را بررسی کنید و دوباره امتحان کنید. در صورت برطرف نشدن مشکل با پشتیبانی تماس بگیرید.',
                            confirmButtonColor: '#3085d6',
                        })
                        console.log(error)
                        sendCodeBtn.disabled = false;
                        codeInput.disabled = false;
                    }
                })
            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'خطا',
                    text:  'مقدار وارد شده صحیح نمی باشد!',
                    confirmButtonColor: '#3085d6',
                })
                sendCodeBtn.disabled = false;
                codeInput.disabled = false;
            }
        }

        
        submitBtn.addEventListener('click', event => {
            event.preventDefault();
            let phone = phoneInput.value;
            let password = passwordInput.value;
            if (!phone){
                let phoneError = document.getElementById('phoneError');
                phoneError.classList.remove('d-none');
                phoneError.innerText = 'شماره همراه خود را وارد کنید !';
                phoneInput.focus();
            }
            else if (!password){
                let passwordError = document.getElementById('passwordError');
                passwordError.classList.remove('d-none');
                passwordError.innerText = 'رمز خود را وارد کنید !';
                passwordInput.focus();
            }
            else {
                login(phone, password);
                phoneInput.disabled = true;
                passwordInput.disabled = true;
            }
        })

        f_sendBtn.addEventListener('click', event => {
            event.preventDefault();
            if (f_emailInput.value) {
                submitForgotPasswordEmail(f_emailInput.value);
                f_sendBtn.disabled = true;
                f_emailInput.disabled = true;
            }
        });

        sendCodeBtn.addEventListener('click', event => {
            event.preventDefault();
            if (codeInput.value) {
                let code = Number(codeInput.value);
                submitForgotPasswordCode(code);
                sendCodeBtn.disabled = true;
                codeInput.disabled = true;
            }
        })
        
        // function to show the forgot password form
        forgotPasswordText.addEventListener('click', () => {
            loginForm.style.display = 'none';
            f_passwordForm.classList.remove('d-none');
            f_emailInput.focus();
        });
    </script>
{% endblock %}