{% extends 'templates/base.html' %}

{% block head %}
    <meta name="robots" content="noindex, nofollow" />
    <title>فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-4 ltn__breadcrumb-color-white---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner text-center">
                        {% if status == 'SF' %}
                            <h1 class="ltn__page-title">Transaction Succeed</h1>
                        {% elif status == 'CT' %}
                            <h1 class="ltn__page-title">Customer cancellation</h1>
                        {% elif status == 'VOCE' %}
                            <h1 class="ltn__page-title">Confirmation Error</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <div class="ltn__404-area ltn__404-area-1 mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="error-404-inner text-center">
                    {% if stage == 'verify' %}
                        {% if status == 'CT' %}
                            <h2 class="text-danger">Payment GateWay Canceled Transaction</h2>
                            <h3>عملیات پرداخت لغو شد</h3>
                            <p>در صورت نیاز به راهنمایی و مشاوره برای خرید میتوانید با ما تماس بگیرید</p>
                        {% elif status == 'VOCE' %}
                            <h2 class="text-danger">Verify Order Confirmation Error</h2>
                            <h3>عملیات پرداخت با خطا روبه رو شد</h3>
                            <p>درصورتی که هزینه سفارش از حساب شما کسر شده است طی مدت حداکثر نیم ساعت به حساب شما برگردانده میشود همچنین میتوانید برای تایید و ثبت سفارش با ما تماس بگیرید</p>
                        {% elif status == 'SF' %}
                            <h2 class="text-success">پرداخت موفق آمیز</h2>
                            <h3>سفارش شما ثبت شد. از حمایت و اعتماد شما ممنونیم.</h3>
                            <p>کد پیگیری : {{ RefID }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
