{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
    <meta name="robots" content="noindex, nofollow"/>
    <title>404 صفحه یافت نشد - فروشگاه اچ ام الکترونیک</title>
{% endblock %}

{% block main %}
    <!-- start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="page-404">
                        <h2 class="font-25 mb-4 text-center">صفحه‌ای که دنبال آن بودید پیدا نشد!</h2>
                        <img src="{% static 'image/404-Error.svg' %}" class="img-fluid" alt="404-Error">
                    </div>
                    <div class="text-center">
                        <a href="{% url 'main:Home_page' %}" class="btn border-0 btn-lg main-color-one-bg rounded-pill">صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
{% endblock %}
